:root {
	color-scheme: dark light;

	--xs: 16rem;
	--sm: 32rem;
	--md: 48rem;
	--lg: 64rem;

	--size: 1.125rem;
	--size-0-5: calc(var(--size) / 2);
	--size-1-5: calc(var(--size) * 1.5);
	--size-2: calc(var(--size) * 2);
	--size-2-5: calc(var(--size) * 2.5);
	--size-3: calc(var(--size) * 3);
	--size-4: calc(var(--size) * 4);
	--size-5: calc(var(--size) * 5);
	--size-6: calc(var(--size) * 6);
	--size-7: calc(var(--size) * 7);
	--size-8: calc(var(--size) * 8);

	--dark: black;
	--light: white;
	--hue: 74;
	--saturation: 64%;
	--lightness: 59%;
	--accent: hsl(var(--hue), var(--saturation), var(--lightness));
	--accent-inverse: hsl(calc(var(--hue) + 180), var(--saturation), var(--lightness));
}

@layer resets, layouts, skins, utilities;

@layer resets {
	*,
	::before,
	::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;
		padding: 0;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		font-family: system-ui, sans-serif;
		font-size: var(--size);
		line-height: 1.7;
	}

	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4 {
		font-weight: 600;
		line-height: 1.25;

		&:is(h1, .h1) {
			font-size: 2.5rem;
		}

		&:is(h2, .h2) {
			font-size: 1.75rem;
		}

		&:is(h3, .h3) {
			font-size: 1.5rem;
		}

		&:is(h4, .h4) {
			font-size: 1.25rem;
		}
	}

	menu,
	ol,
	ul {
		list-style: none;
	}

	img,
	svg {
		inline-size: 100%;
		display: block;
		font-style: italic;
	}

	pre,
	code,
	kbd,
	samp {
		font-family: monospace;
		font-size: 1em;
	}

	input,
	textarea,
	select {
		min-inline-size: 0;
		font: inherit;
	}

	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;

		&:is(sub) {
			bottom: -0.25em;
		}

		&:is(sup) {
			top: -0.5em;
		}
	}

	button,
	.button {
		display: inline-flex;
		place-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: var(--size-0-5);
		padding-block: var(--size-0-5);
		padding-inline: var(--size-1-5);
		background-color: var(--accent);
		color: var(--dark);
		font: inherit;
		font-weight: 600;
		text-wrap: balance;
		text-decoration: none;
		border: none;
		border-radius: 2px;
		cursor: pointer;

		&:where(:hover, :focus-visible) {
			background-color: transparent;
			color: var(--accent);
			outline: 3px solid var(--accent);
		}
	}

	a,
	.a {
		color: light-dark(var(--accent-inverse), var(--accent));

		&:where(:hover, :focus-visible) {
			text-decoration: none;
		}
	}

	.form {
		label {
			font-weight: 600;
		}

		> div {
			display: grid;
			gap: var(--size-0-5);
			margin-block-start: var(--size);
		}

		input,
		textarea {
			min-inline-size: 0;
			padding: var(--size-0-5);
			font: inherit;
		}

		button {
			margin-block-start: var(--size);
		}
	}
}

@layer layouts {
	.wrapper {
		min-block-size: 100dvh;
		display: grid;
		grid-template-rows: auto 1fr auto;
	}

	.boxed {
		inline-size: min(100% - var(--size-4), var(--lg));
		margin-inline: auto;
	}

	.full-screen-center {
		--gap: 1rem;

		min-block-size: 100dvh;
		display: grid;
		place-content: center;
	}

	.auto-fit {
		--min: var(--xs);

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
	}

	.auto-fill {
		--min: var(--xs);

		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(var(--min), 1fr));
	}

	nav {
		ul {
			display: flex;
			flex-wrap: wrap;
			gap: var(--size);
		}

		a {
			color: var(--dark);
		}
	}
}

@layer utilities {
	.flow > * + * {
		--flow-space: 1em;

		margin-block-start: var(--flow-space);
	}

	.text-flow-0-5 > * + * {
		margin-block-start: var(--size-0-5);
	}

	.text-flow-1 > * + * {
		margin-block-start: var(--size);
	}

	.text-flow-1-5 > * + * {
		margin-block-start: var(--size-1-5);
	}

	.text-flow-2 > * + * {
		margin-block-start: var(--size-2);
	}

	.fixed {
		position: fixed;
	}

	.absolute {
		position: absolute;
	}

	.relative {
		position: relative;
	}

	.grid {
		display: grid;
	}

	.flex {
		display: flex;
	}

	.flex-wrap {
		flex-wrap: wrap;
	}

	.nowrap {
		flex-wrap: nowrap;
	}

	.gap-0-5 {
		gap: var(--size-0-5);
	}

	.gap-1 {
		gap: var(--size);
	}

	.gap-1-5 {
		gap: var(--size-1-5);
	}

	.gap-2 {
		gap: var(--size-2);
	}

	.gap-2-5 {
		gap: var(--size-2-5);
	}

	.gap-3 {
		gap: var(--size-3);
	}

	.gap-4 {
		gap: var(--size-4);
	}

	.space-between {
		justify-content: space-between;
	}

	.space-around {
		justify-content: space-around;
	}

	.space-evenly {
		justify-content: space-evenly;
	}

	.align-items-start {
		align-items: start;
	}

	.align-items-center {
		align-items: center;
	}

	.align-items-end {
		align-items: end;
	}

	.align-self-start {
		align-self: start;
	}

	.align-self-center {
		align-self: center;
	}

	.align-self-end {
		align-self: end;
	}

	.align-content-start {
		align-content: start;
	}

	.align-content-center {
		align-content: center;
	}

	.align-content-end {
		align-content: end;
	}

	.justify-content-start {
		justify-content: start;
	}

	.justify-content-center {
		justify-content: center;
	}

	.justify-content-end {
		justify-content: end;
	}

	.justify-items-start {
		justify-items: start;
	}

	.justify-items-center {
		justify-items: center;
	}

	.justify-items-end {
		justify-items: end;
	}

	.justify-self-start {
		justify-self: start;
	}

	.justify-self-center {
		justify-self: center;
	}

	.justify-self-end {
		justify-self: end;
	}

	.place-content-start {
		place-content: start;
	}

	.place-content-center {
		place-content: center;
	}

	.place-content-end {
		place-content: end;
	}

	.place-items-start {
		place-items: start;
	}

	.place-items-center {
		place-items: center;
	}

	.place-items-end {
		place-items: end;
	}

	.place-self-start {
		place-self: start;
	}

	.place-self-center {
		place-self: center;
	}

	.place-self-end {
		place-self: end;
	}

	.full-width {
		width: 100%;
	}

	.margin {
		--margin-space: var(--size-2);

		margin: var(--margin-space);
	}

	.mb {
		--margin-block-space: var(--size-2);

		margin-block: var(--margin-block-space);
	}

	.mbs {
		--margin-block-start-space: var(--size-2);

		margin-block-start: var(--margin-block-start-space);
	}

	.mbe {
		--margin-block-end-space: var(--size-2);

		margin-block-end: var(--margin-block-end-space);
	}

	.mi {
		--margin-inline-space: var(--size-2);

		margin-inline: var(--margin-inline-space);
	}

	.mia {
		margin-inline: auto;
	}

	.mba {
		margin-block: auto;
	}

	.m-0 {
		margin: 0;
	}

	.mt-0 {
		margin-top: 0;
	}

	.mr-0 {
		margin-right: 0;
	}

	.mb-0 {
		margin-bottom: 0;
	}

	.ml-0 {
		margin-left: 0;
	}

	.mx-0 {
		margin-left: 0;
		margin-right: 0;
	}

	.my-0 {
		margin-top: 0;
		margin-bottom: 0;
	}

	.m-0-5 {
		margin: var(--size-0-5);
	}

	.mt-0-5 {
		margin-top: var(--size-0-5);
	}

	.mr-0-5 {
		margin-right: var(--size-0-5);
	}

	.mb-0-5 {
		margin-bottom: var(--size-0-5);
	}

	.ml-0-5 {
		margin-left: var(--size-0-5);
	}

	.mx-0-5 {
		margin-left: var(--size-0-5);
		margin-right: var(--size-0-5);
	}

	.my-0-5 {
		margin-top: var(--size-0-5);
		margin-bottom: var(--size-0-5);
	}

	.m-1 {
		margin: var(--size);
	}

	.mt-1 {
		margin-top: var(--size);
	}

	.mr-1 {
		margin-right: var(--size);
	}

	.mb-1 {
		margin-bottom: var(--size);
	}

	.ml-1 {
		margin-left: var(--size);
	}

	.mx-1 {
		margin-left: var(--size);
		margin-right: var(--size);
	}

	.my-1 {
		margin-top: var(--size);
		margin-bottom: var(--size);
	}

	.m-1-5 {
		margin: var(--size-1-5);
	}

	.mt-1-5 {
		margin-top: var(--size-1-5);
	}

	.mr-1-5 {
		margin-right: var(--size-1-5);
	}

	.mb-1-5 {
		margin-bottom: var(--size-1-5);
	}

	.ml-1-5 {
		margin-left: var(--size-1-5);
	}

	.mx-1-5 {
		margin-left: var(--size-1-5);
		margin-right: var(--size-1-5);
	}

	.my-1-5 {
		margin-top: var(--size-1-5);
		margin-bottom: var(--size-1-5);
	}

	.m-2 {
		margin: var(--size-2);
	}

	.mt-2 {
		margin-top: var(--size-2);
	}

	.mr-2 {
		margin-right: var(--size-2);
	}

	.mb-2 {
		margin-bottom: var(--size-2);
	}

	.ml-2 {
		margin-left: var(--size-2);
	}

	.mx-2 {
		margin-left: var(--size-2);
		margin-right: var(--size-2);
	}

	.my-2 {
		margin-top: var(--size-2);
		margin-bottom: var(--size-2);
	}

	.m-2-5 {
		margin: var(--size-2-5);
	}

	.mt-2-5 {
		margin-top: var(--size-2-5);
	}

	.mr-2-5 {
		margin-right: var(--size-2-5);
	}

	.mb-2-5 {
		margin-bottom: var(--size-2-5);
	}

	.ml-2-5 {
		margin-left: var(--size-2-5);
	}

	.mx-2-5 {
		margin-left: var(--size-2-5);
		margin-right: var(--size-2-5);
	}

	.my-2-5 {
		margin-top: var(--size-2-5);
		margin-bottom: var(--size-2-5);
	}

	.m-3 {
		margin: var(--size-3);
	}

	.mt-3 {
		margin-top: var(--size-3);
	}

	.mr-3 {
		margin-right: var(--size-3);
	}

	.mb-3 {
		margin-bottom: var(--size-3);
	}

	.ml-3 {
		margin-left: var(--size-3);
	}

	.mx-3 {
		margin-left: var(--size-3);
		margin-right: var(--size-3);
	}

	.my-3 {
		margin-top: var(--size-3);
		margin-bottom: var(--size-3);
	}

	.m-4 {
		margin: var(--size-4);
	}

	.mt-4 {
		margin-top: var(--size-4);
	}

	.mr-4 {
		margin-right: var(--size-4);
	}

	.mb-4 {
		margin-bottom: var(--size-4);
	}

	.ml-4 {
		margin-left: var(--size-4);
	}

	.mx-4 {
		margin-left: var(--size-4);
		margin-right: var(--size-4);
	}

	.my-4 {
		margin-top: var(--size-4);
		margin-bottom: var(--size-4);
	}

	.m-5 {
		margin: var(--size-5);
	}

	.mt-5 {
		margin-top: var(--size-5);
	}

	.mr-5 {
		margin-right: var(--size-5);
	}

	.mb-5 {
		margin-bottom: var(--size-5);
	}

	.ml-5 {
		margin-left: var(--size-5);
	}

	.mx-5 {
		margin-left: var(--size-5);
		margin-right: var(--size-5);
	}

	.my-5 {
		margin-top: var(--size-5);
		margin-bottom: var(--size-5);
	}

	.m-6 {
		margin: var(--size-6);
	}

	.mt-6 {
		margin-top: var(--size-6);
	}

	.mr-6 {
		margin-right: var(--size-6);
	}

	.mb-6 {
		margin-bottom: var(--size-6);
	}

	.ml-6 {
		margin-left: var(--size-6);
	}

	.mx-6 {
		margin-left: var(--size-6);
		margin-right: var(--size-6);
	}

	.my-6 {
		margin-top: var(--size-6);
		margin-bottom: var(--size-6);
	}

	.m-7 {
		margin: var(--size-7);
	}

	.mt-7 {
		margin-top: var(--size-7);
	}

	.mr-7 {
		margin-right: var(--size-7);
	}

	.mb-7 {
		margin-bottom: var(--size-7);
	}

	.ml-7 {
		margin-left: var(--size-7);
	}

	.mx-7 {
		margin-left: var(--size-7);
		margin-right: var(--size-7);
	}

	.my-7 {
		margin-top: var(--size-7);
		margin-bottom: var(--size-7);
	}

	.m-8 {
		margin: var(--size-8);
	}

	.mt-8 {
		margin-top: var(--size-8);
	}

	.mr-8 {
		margin-right: var(--size-8);
	}

	.mb-8 {
		margin-bottom: var(--size-8);
	}

	.ml-8 {
		margin-left: var(--size-8);
	}

	.mx-8 {
		margin-left: var(--size-8);
		margin-right: var(--size-8);
	}

	.my-8 {
		margin-top: var(--size-8);
		margin-bottom: var(--size-8);
	}

	.ml-auto {
		margin-left: auto;
	}

	.mr-auto {
		margin-right: auto;
	}

	.mx-auto {
		margin-left: auto;
		margin-right: auto;
	}

	.my-auto {
		margin-top: auto;
		margin-bottom: auto;
	}

	.padding {
		--padding-space: var(--size-2);

		padding: var(--padding-space);
	}

	.pb {
		--padding-block-space: var(--size-4);

		padding-block: var(--padding-block-space);
	}

	.pbs {
		--padding-block-start-space: var(--size-4);

		padding-block-start: var(--padding-block-start-space);
	}

	.pbe {
		--padding-block-end-space: var(--size-4);

		padding-block-end: var(--padding-block-end-space);
	}

	.pi {
		--padding-inline-space: var(--size-2);

		padding-inline: var(--padding-inline-space);
	}

	.p-0 {
		padding: 0;
	}

	.pt-0 {
		padding-top: 0;
	}

	.pr-0 {
		padding-right: 0;
	}

	.pb-0 {
		padding-bottom: 0;
	}

	.pl-0 {
		padding-left: 0;
	}

	.px-0 {
		padding-left: 0;
		padding-right: 0;
	}

	.py-0 {
		padding-top: 0;
		padding-bottom: 0;
	}

	.p-0-5 {
		padding: var(--size-0-5);
	}

	.pt-0-5 {
		padding-top: var(--size-0-5);
	}

	.pr-0-5 {
		padding-right: var(--size-0-5);
	}

	.pb-0-5 {
		padding-bottom: var(--size-0-5);
	}

	.pl-0-5 {
		padding-left: var(--size-0-5);
	}

	.py-0-5 {
		padding-top: var(--size-0-5);
		padding-bottom: var(--size-0-5);
	}

	.px-0-5 {
		padding-left: var(--size-0-5);
		padding-right: var(--size-0-5);
	}

	.p-1 {
		padding: var(--size);
	}

	.pt-1 {
		padding-top: var(--size);
	}

	.pr-1 {
		padding-right: var(--size);
	}

	.pb-1 {
		padding-bottom: var(--size);
	}

	.pl-1 {
		padding-left: var(--size);
	}

	.py-1 {
		padding-top: var(--size);
		padding-bottom: var(--size);
	}

	.px-1 {
		padding-left: var(--size);
		padding-right: var(--size);
	}

	.p-1-5 {
		padding: var(--size-1-5);
	}

	.pt-1-5 {
		padding-top: var(--size-1-5);
	}

	.pr-1-5 {
		padding-right: var(--size-1-5);
	}

	.pb-1-5 {
		padding-bottom: var(--size-1-5);
	}

	.pl-1-5 {
		padding-left: var(--size-1-5);
	}

	.py-1-5 {
		padding-top: var(--size-1-5);
		padding-bottom: var(--size-1-5);
	}

	.px-1-5 {
		padding-left: var(--size-1-5);
		padding-right: var(--size-1-5);
	}

	.p-2 {
		padding: var(--size-2);
	}

	.pt-2 {
		padding-top: var(--size-2);
	}

	.pr-2 {
		padding-right: var(--size-2);
	}

	.pb-2 {
		padding-bottom: var(--size-2);
	}

	.pl-2 {
		padding-left: var(--size-2);
	}

	.py-2 {
		padding-top: var(--size-2);
		padding-bottom: var(--size-2);
	}

	.px-2 {
		padding-left: var(--size-2);
		padding-right: var(--size-2);
	}

	.p-2-5 {
		padding: var(--size-2-5);
	}

	.pt-2-5 {
		padding-top: var(--size-2-5);
	}

	.pr-2-5 {
		padding-right: var(--size-2-5);
	}

	.pb-2-5 {
		padding-bottom: var(--size-2-5);
	}

	.pl-2-5 {
		padding-left: var(--size-2-5);
	}

	.py-2-5 {
		padding-top: var(--size-2-5);
		padding-bottom: var(--size-2-5);
	}

	.px-2-5 {
		padding-left: var(--size-2-5);
		padding-right: var(--size-2-5);
	}

	.p-3 {
		padding: var(--size-3);
	}

	.pt-3 {
		padding-top: var(--size-3);
	}

	.pr-3 {
		padding-right: var(--size-3);
	}

	.pb-3 {
		padding-bottom: var(--size-3);
	}

	.pl-3 {
		padding-left: var(--size-3);
	}

	.py-3 {
		padding-top: var(--size-3);
		padding-bottom: var(--size-3);
	}

	.px-3 {
		padding-left: var(--size-3);
		padding-right: var(--size-3);
	}

	.p-4 {
		padding: var(--size-4);
	}

	.pt-4 {
		padding-top: var(--size-4);
	}

	.pr-4 {
		padding-right: var(--size-4);
	}

	.pb-4 {
		padding-bottom: var(--size-4);
	}

	.pl-4 {
		padding-left: var(--size-4);
	}

	.py-4 {
		padding-top: var(--size-4);
		padding-bottom: var(--size-4);
	}

	.px-4 {
		padding-left: var(--size-4);
		padding-right: var(--size-4);
	}

	.p-5 {
		padding: var(--size-5);
	}

	.pt-5 {
		padding-top: var(--size-5);
	}

	.pr-5 {
		padding-right: var(--size-5);
	}

	.pb-5 {
		padding-bottom: var(--size-5);
	}

	.pl-5 {
		padding-left: var(--size-5);
	}

	.py-5 {
		padding-top: var(--size-5);
		padding-bottom: var(--size-5);
	}

	.px-5 {
		padding-left: var(--size-5);
		padding-right: var(--size-5);
	}

	.p-6 {
		padding: var(--size-6);
	}

	.pt-6 {
		padding-top: var(--size-6);
	}

	.pr-6 {
		padding-right: var(--size-6);
	}

	.pb-6 {
		padding-bottom: var(--size-6);
	}

	.pl-6 {
		padding-left: var(--size-6);
	}

	.py-6 {
		padding-top: var(--size-6);
		padding-bottom: var(--size-6);
	}

	.px-6 {
		padding-left: var(--size-6);
		padding-right: var(--size-6);
	}

	.p-7 {
		padding: var(--size-7);
	}

	.pt-7 {
		padding-top: var(--size-7);
	}

	.pr-7 {
		padding-right: var(--size-7);
	}

	.pb-7 {
		padding-bottom: var(--size-7);
	}

	.pl-7 {
		padding-left: var(--size-7);
	}

	.py-7 {
		padding-top: var(--size-7);
		padding-bottom: var(--size-7);
	}

	.px-7 {
		padding-left: var(--size-7);
		padding-right: var(--size-7);
	}

	.p-8 {
		padding: var(--size-8);
	}

	.pt-8 {
		padding-top: var(--size-8);
	}

	.pr-8 {
		padding-right: var(--size-8);
	}

	.pb-8 {
		padding-bottom: var(--size-8);
	}

	.pl-8 {
		padding-left: var(--size-8);
	}

	.py-8 {
		padding-top: var(--size-8);
		padding-bottom: var(--size-8);
	}

	.px-8 {
		padding-left: var(--size-8);
		padding-right: var(--size-8);
	}

	.monospace {
		font-family: monospace;
	}

	.bold {
		font-weight: 600;
	}

	.italic {
		font-style: italic;
	}

	.text-left {
		text-align: left;
	}

	.text-center {
		text-align: center;
	}

	.text-right {
		text-align: right;
	}

	.text-justify {
		text-align: justify;
	}

	.uppercase {
		text-transform: uppercase;
	}

	.lowercase {
		text-transform: lowercase;
	}

	.capitalize {
		text-transform: capitalize;
	}

	.fw-100 {
		font-weight: 100;
	}

	.fw-200 {
		font-weight: 200;
	}

	.fw-300 {
		font-weight: 300;
	}

	.fw-400 {
		font-weight: 400;
	}

	.fw-500 {
		font-weight: 500;
	}

	.fw-600 {
		font-weight: 600;
	}

	.fw-700 {
		font-weight: 700;
	}

	.fw-800 {
		font-weight: 800;
	}

	.fw-900 {
		font-weight: 900;
	}

	.ls-1 {
		letter-spacing: 1px;
	}

	.ls-2 {
		letter-spacing: 2px;
	}

	.ls-3 {
		letter-spacing: 3px;
	}

	.pointer {
		cursor: pointer;
	}

	.balance {
		text-wrap: balance;
	}

	.pretty {
		text-wrap: pretty;
	}

	.square {
		aspect-ratio: 1;
	}

	.landscape {
		aspect-ratio: 4/3;
	}

	.portrait {
		aspect-ratio: 3/4;
	}

	.widescreen {
		aspect-ratio: 16/9;
	}

	.ultrawide {
		aspect-ratio: 18/5;
	}

	.golden {
		aspect-ratio: 1.618/1;
	}

	.fit {
		object-fit: cover;
	}

	.object-position-top {
		object-position: top;
	}

	.object-position-left {
		object-position: left;
	}

	.object-position-center {
		object-position: center;
	}

	.object-position-right {
		object-position: right;
	}

	.object-position-bottom {
		object-position: bottom;
	}

	.shadow {
		box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.2);
	}

	.shadow-1 {
		box-shadow: 0 1px 2px -1px hsl(220 40% 2% / calc(10% + 9%));
	}

	.shadow-2 {
		box-shadow: 0 3px 5px -2px hsl(220 40% 2% / calc(10% + 3%)),
			0 7px 14px -5px hsl(220 40% 2% / calc(10% + 5%));
	}

	.shadow-3 {
		box-shadow: 0 -1px 3px 0 hsl(220 40% 2% / calc(10% + 2%)),
			0 1px 2px -5px hsl(220 40% 2% / calc(10% + 2%)),
			0 2px 5px -5px hsl(220 40% 2% / calc(10% + 4%)),
			0 4px 12px -5px hsl(220 40% 2% / calc(10% + 5%)),
			0 12px 15px -5px hsl(220 40% 2% / calc(10% + 7%));
	}

	.shadow-4 {
		box-shadow: 0 -2px 5px 0 hsl(220 40% 2% / calc(10% + 2%)),
			0 1px 1px -2px hsl(220 40% 2% / calc(10% + 3%)),
			0 2px 2px -2px hsl(220 40% 2% / calc(10% + 3%)),
			0 5px 5px -2px hsl(220 40% 2% / calc(10% + 4%)),
			0 9px 9px -2px hsl(220 40% 2% / calc(10% + 5%)),
			0 16px 16px -2px hsl(220 40% 2% / calc(10% + 6%));
	}

	.shadow-5 {
		box-shadow: 0 -1px 2px 0 hsl(220 40% 2% / calc(10% + 2%)),
			0 2px 1px -2px hsl(220 40% 2% / calc(10% + 3%)),
			0 5px 5px -2px hsl(220 40% 2% / calc(10% + 3%)),
			0 10px 10px -2px hsl(220 40% 2% / calc(10% + 4%)),
			0 20px 20px -2px hsl(220 40% 2% / calc(10% + 5%)),
			0 40px 40px -2px hsl(220 40% 2% / calc(10% + 7%));
	}

	.shadow-6 {
		box-shadow: 0 -1px 2px 0 hsl(220 40% 2% / calc(10% + 2%)),
			0 3px 2px -2px hsl(220 40% 2% / calc(10% + 3%)),
			0 7px 5px -2px hsl(220 40% 2% / calc(10% + 3%)),
			0 12px 10px -2px hsl(220 40% 2% / calc(10% + 4%)),
			0 22px 18px -2px hsl(220 40% 2% / calc(10% + 5%)),
			0 41px 33px -2px hsl(220 40% 2% / calc(10% + 6%)),
			0 100px 80px -2px hsl(220 40% 2% / calc(10% + 7%));
	}

	.border {
		border: 1px solid;
	}

	.outline {
		border: 1px solid;
	}

	.blur {
		backdrop-filter: blur(5px);
	}

	.overlay {
		--deg: 90deg;
		--start: #0004;
		--end: #0004;

		border-image: fill 0 linear-gradient(var(--deg), var(--start), var(--end));
	}

	.bg-center {
		background-position: center;
	}

	.cover {
		background-size: cover;
	}

	.contain {
		background-size: contain;
	}

	.no-repeat {
		background-repeat: no-repeat;
	}

	.container-inline-size {
		container-type: inline-size;
	}

	.user-select-none {
		user-select: none;
	}

	.bg-light {
		background-color: var(--light);
	}

	.bg-dark {
		background-color: var(--dark);
	}

	.bg-accent {
		background-color: var(--accent);
	}

	.bg-accent-inverse {
		background-color: var(--accent-inverse);
	}

	.color-light {
		color: var(--light);
	}

	.color-dark {
		color: var(--dark);
	}

	.color-accent {
		color: var(--accent);
	}

	.color-accent-inverse {
		color: var(--accent-inverse);
	}
}

@layer skins {
	.skin-accent {
		--bg: var(--accent);
		--fg: var(--dark);

		background-color: var(--bg);
		color: var(--fg);
	}

	.skin-accent-inverse {
		--bg: var(--accent-inverse);
		--fg: var(--light);

		background-color: var(--bg);
		color: var(--fg);
	}
}
